{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div>
        Déja un compte ?
        <a href="{{ path('fos_user_security_login') }}">
            Login here
        </a>
    </div>
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
