{% extends "base.html.twig" %}

{% block javascripts %}
    <script src={{ asset('index.js')}}></script>
{% endblock %}

{% block navLinks %}
    <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

