{% extends "base.html.twig" %}

{% block javascripts %}
    <script src={{ asset('index.js')}}></script>
{% endblock %}

{% block body %}
    <a href="#">edit your profile</a>
    {% block content %}{% endblock %}
{% endblock %}

