{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div>
        Pas encore de compte ?
        <a href="{{ path('fos_user_registration_register') }}">
            Register here
        </a>
    </div>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
